Hostnames with underscores are invalid

Due to the way docker-compose sets names for services I changed the naming of the backend hosts to use the form `httpd_1`, `httpd_2` etc instead of `backend-1`, `backend-2` etc however this results in invalid hostname requests.

```
[Wed Jan 25 21:37:10.373213 2017] [core:debug] [pid 122] vhost.c(796): [client 172.172.1.7:33498] AH02415: [strict] Invalid host name 'httpd_1', problem near: _1
[Wed Jan 25 21:37:10.373467 2017] [core:debug] [pid 122] vhost.c(891): [client 172.172.1.7:33498] AH00550: Client sent malformed Host header: httpd_1
[Wed Jan 25 21:37:10.373478 2017] [core:debug] [pid 122] protocol.c(1385): [client 172.172.1.7:33498] AH00569: client sent HTTP/1.1 request without hostname (see RFC2616 section 14.23): /
[Wed Jan 25 21:37:10.373491 2017] [headers:debug] [pid 122] mod_headers.c(900): AH01503: headers: ap_headers_error_filter()
```

This issue was introduced in `2.4.24`:

- https://github.com/apache/httpd/commit/14a591eaf297d4cfb0712be886f306594b3c538e#diff-972b3a6a428cc5b24bbba9177fcce76cR754
- https://github.com/apache/httpd/commit/14a591eaf297d4cfb0712be886f306594b3c538e#diff-972b3a6a428cc5b24bbba9177fcce76cR880

r1768036 | wrowe | 2016-11-04 10:20:16 -0400 (Fri, 04 Nov 2016) | 40 lines

Add an option to enforce stricter HTTP conformance

This is a first stab, the checks will likely have to be revised.
For now, we check

 * if the request line contains control characters
 * if the request uri has fragment or username/password
 * that the request method is standard or registered with RegisterHttpMethod
 * that the request protocol is of the form HTTP/[1-9]+.[0-9]+,
   or missing for 0.9
 * if there is garbage in the request line after the protocol
 * if any request header contains control characters
 * if any request header has an empty name
 * for the host name in the URL or Host header:
   - if an IPv4 dotted decimal address: Reject octal or hex values, require
     exactly four parts
   - if a DNS host name: Reject non-alphanumeric characters besides '.' and
     '-'. As a side effect, this rejects multiple Host headers.
 * if any response header contains control characters
 * if any response header has an empty name
 * that the Location response header (if present) has a valid scheme and is
   absolute

If we have a host name both from the URL and the Host header, we replace the
Host header with the value from the URL to enforce RFC conformance.

There is a log-only mode, but the loglevels of the logged messages need some
thought/work. Currently, the  checks for incoming data log for 'core' and the
checks for outgoing data log for 'http'. Maybe we need a way to configure the
loglevels separately from the core/http loglevels.

change protocol number parsing in strict mode according to HTTPbis draft
- only accept single digit version components
- don't accept white-space after protocol specification

Clean up comment, fix log tags.
Submitted by: sf
Backports: r1426877, r1426879, r1426988, r1426992

It looks like a `strict` mode has been added via [HttpProtocolOptions](https://httpd.apache.org/docs/2.4/mod/core.html#httpprotocoloptions)

>if a DNS host name: Reject non-alphanumeric characters besides '.' and
'-'. As a side effect, this rejects multiple Host headers.

Cannot work-around the issue with a `Host:` header either:

> If we have a host name both from the URL and the Host header, we replace the
Host header with the value from the URL to enforce RFC conformance.

Setting a generic request definition for the Varnish probe healthcheck should work around this.

```
probe healthcheck {
	.interval = 5s;
	.timeout = 2s;
	.window = 5;
	.threshold = 3;
	.initial = 2;
	.expected_response = 200;
	.request =
		"GET / HTTP/1.1"
		"Host: localhost.localdomain"
		"Connection: close"
		"User-Agent: Varnish"
		"Accept-Encoding: gzip, deflate";
}
```